@charset "UTF-8";

img{
    height: 700px;
    width: 500px;
    display: block;
    margin: auto;
border-radius: 20px;
border-style: dotted;
box-shadow: 7px 7px 2px 7px rgba(0, 0, 0, 0.582);
}
body{
    background-color: gray;
}